ion-list:last-of-type {
  margin-bottom: 40px;
}

ion-toggle::part(track) {
  background: var(--ion-color-step-150);
}

ion-toggle.toggle-checked::part(track) {
  background: rgb(var(--ion-color-success-rgb), 0.5);
}

ion-toggle::part(handle) {
  background: #ffffff;
}
